user/.config/dwl/run/debug.txt
user/private
user/private.old
user/.local/share/nvim/telescope_history
user/.config/awesome/lain1

log.txt
*.log
LOG
LOG.old
*.png~
*.kra~
todo.txt

*.ldb

*.o
*-protocol.c
*-protocol.h
