[Desktop Entry]
Name=Update arch
Comment=paru -Syu
Exec=alacritty --class 'System update' --title 'System update' -e paru -Syu
Terminal=false
Type=Application
