[Unit]
Description=iso script
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/etc/arch-iso-service.sh

[Install]
WantedBy=multi-user.target
